<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href= "/css/bootstrap.min.css" rel="stylesheet">
  <link href= "/css/EVClient.css" rel="stylesheet">
</head>
<body ng-controller="EVClient">
<!--Top Side-->
<nav class ="navbar navbar-default navbar-fixed-top header-nav" style="margin-bottom: 0px; background: #ffffff; " role="navigation">
  <div class="container-fluid">
    <a href="#" class="navbar-brand"><b>C2V Connected Car Service Simulator</b></a>
    <p class="navbar-text"> Simulation Result Page</p>
    <img src="img_brandslogan10.gif" height="50" style="float: right;">
  </div>
</nav>

<!--Title-->
<section style="background: #0a2972; color: #ffffff; padding: 70px 0 30px 0; text-align: center;">
  <div class="container">
    <h1><b> C2V Connected Car Service Simulator Result </b></h1>
    <p style="color: #ffffff;"><br>Simulation Result Page. We provide readable data from simulation result</p>
  </div>
</section>

<!--Body-->
<section style="border-bottom: 1px solid #dedede; color: #4d5360; display: block;">
  <div id="left_menu">
    <h3 style="color: #082a61;"><b>경로 설정<br></b></h3>

    <!--<form>-->
    <label>주행가능 거리 (km)</label>
    <input type="text" id="availDist"/>
      <!--<input type="button" value = "입력" onclick="getElement();">-->
    <button ng-click="getElement()">입력</button><br/>
    <!--</form><br/>-->


    <h5>출발지: <select class="form-control" ng-model="route.src_gps" ng-options="option as option.evName for option in options.charging_stations"></select><br/></h5>
    <h5 ng-repeat="pass in route.passlist">경유지 {{$index + 1}}: <select class="form-control" ng-model="pass" ng-options="option as option.evName for option in options.charging_stations"></select><br/></h5>
    <h5>도착지: <select class="form-control" ng-model="route.dest_gps" ng-options="option as option.evName for option in options.charging_stations"></select><br/></h5>
    <button ng-click="addPassList()">경유지 추가</button><br/>
    <button ng-click="objectDetection()">오브젝트 발견</button><br/>
    <input type="checkbox" ng-model="tracking"/>주행 추적<br/>

    <!--<script type ="text/javascript">-->
      <!--var availDist;-->
      <!--function getElement(){-->
        <!--availDist=document.getElementById("availDist");-->
        <!--console.log(availDist.value);-->
        <!--chargingStationSearch();-->
      <!--}-->
      <!--function chargingStationSearch(){-->
        <!--var s2dDistance=100;-->
        <!--if(availDist.value>s2dDistance){-->
          <!--console.log( availDist.value-s2dDistance);-->
          <!--document.write("<SELECT NAME=sltSample SIZE=1><OPTION VALUE=1>급속</OPTION><OPTION VALUE=2>완속</OPTION>  </SELECT>");-->
        <!--}-->
      <!--}-->
    <!--</script>-->



  </div>
  <div id="map_div"></div>
</section>
</body>

<script src="/js/dependencies/sails.io.js"></script>
<script src="https://apis.skplanetx.com/tmap/js?version=1&format=javascript&appKey=35bfd940-2738-36fa-9502-f25ddde1ed96"></script>
<script data-main="js/bootstrap" src="lib/require.js"></script>

</html>
